.objectColumn {
  width: 100%;
}

.key {
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.droppable {
  background-color: #dbe9ee;
}

.row {
  border-bottom: 2px #0078bd solid;
}
