.container {
  display: flex;
  align-items: center;
  margin: 0 4%;
  margin-top: 4%;
  flex-direction: column;
}

table {
  color: #0078bf !important;
  border: solid 1px black;
}

table thead tr {
  border: solid 1px black;
}

table thead tr th {
  border: solid 1px black !important;
  background-color: white;
}

table tbody tr {
  border: solid 1px black !important;
}

tbody tr:nth-of-type(odd) {
  background-color: #dbe9ee !important;
}

table tbody tr td {
  border: solid 1px black !important;
}

table tbody tr:hover,
tbody .table-striped tr:nth-of-type(odd) {
  color: white !important;
  background-color: #0078bf !important;
}
